<h1>Ticket</h1>
<table>
	<tr>
		<td>Barcode:</td>
		<td><%= @ticket[:barcode].upcase %></td>
	</tr>
	<tr>
		<td>Issued:</td>
		<td><%= @ticket[:created_at] %></td>
	</tr>
	<tr>
		<td>Redeemed:</td>
		<td><%= @ticket[:redeemed] || 'no' %></td>
	</tr>
	<tr>
		<td>Price:</td>
		<td><%= @ticket[:price] || Float::NAN %>&euro;</td>
	</tr>
	<tr>
		<td>May leave:</td>
		<td><%= @ticket.may_leave?? 'yes' : 'no' %></td>
	</tr>
	<% unless @ticket.may_leave? %>
	<tr>
		<td colspan="2">
			<%= link_to 'Pay', new_api_ticket_payment_path(ticket_barcode: @ticket[:barcode].upcase) %>
		</td>
	</tr>
	<% end %>
</table>
